/* ===========================================================
   AIRFIELD WX PAGE
=========================================================== */

#airfieldwx-container {
  padding: 20px;
  color: #0f0;
  font-size: 18px;
  overflow-y: auto;
}
