/* ===========================================================
   MODE BUTTON ACTIVE STATES
=========================================================== */

.mode-btn.active-mode {
  background: #111;
  transform: translateY(4px);
}

/* ===========================================================
   NORMAL MODE
=========================================================== */

body:not(.nvg):not(.red) #crt {
  background: #000 !important;
}

/* ===========================================================
   NVG MODE
=========================================================== */

body.nvg #crt {
  background: #001900 !important;
}

/* ===========================================================
   RED MODE
=========================================================== */

body.red #crt {
  background: #190000 !important;
}
