/* ===========================================================
   MODE SYSTEM — NORMAL / NVG / RED
=========================================================== */

body.normal-mode {
  color: #fff;
}

body.nvg-mode {
  color: #0f0;
  background: #001100;
}

body.red-mode {
  color: #f33;
  background: #220000;
}

/* Buttons highlight */
.mode-btn.active-mode {
  background: #b36b00 !important;
  color: #fff2cc !important;
}
